<%= link_to activity_path(trip_activity.activity) do %>
  <li class="flex items-center space-x-4 relative">
    <!-- Timeline time -->
    <div class="text-gray-400 text-sm w-16 text-right">
      <div><%= trip_activity.start_date.strftime('%H:%M') %></div>
      <div><%= trip_activity.end_date.strftime('%H:%M') %></div>
    </div>

    <!-- Timeline node and line -->
    <div class="relative flex flex-col items-center">
      <div class="w-4 h-4 bg-white rounded-full"></div>
      <% unless index == 0 %>
        <div class="absolute h-32 w-0.5 bg-white -top-32 left-1/2 transform -translate-x-1/2"></div>
      <% end %>
    </div>

    <!-- Timeline card -->
    <div class="bg-gray-800 text-white rounded-lg shadow-md p-4 w-full">
      <h3 class="font-bold"><%= trip_activity.activity.name %></h3>
      <p class="text-sm"><%= trip_activity.activity.description.truncate(50) %></p>
    </div>
  </li>
<% end %>
