<div class="next-trip-container sticky z-10 w-full transition-all duration-200 bg-cover bg-center overflow-hidden pb-5">
  <% if trip.destination.photo.present? %>
    <%= cl_image_tag trip.destination.photo.key, class: "absolute inset-0 h-full w-full object-cover" %>
  <% else %>
    <%= image_tag 'rome.jpg', class: "absolute inset-0 h-full w-full object-cover" %>
  <% end %>
<div class="absolute inset-0 bg-gradient-to-t from-black/100 via-black/20 to-black/0"></div>

<%= render "countdown", start: trip&.start_date || "" %>

<div class="relative bottom-0 left-0 right-0 p-4 text-white">
  <h1 class="text-3xl font-bold font-playfair"><%= trip.name.capitalize() %></h1>
  <div class="flex justify-between mt-2">
    <div class="flex flex-col items-center">
      <span class="text-sm font-semibold"><%= I18n.l(trip.start_date, format: "%Y")  if !trip.start_date.nil? %></span>
      <span class="text-xs text-gray-300"><%= I18n.l(trip.start_date, format: "%d %b")  if !trip.start_date.nil? %></span>
    </div>
    <div class="flex flex-col items-center">
      <span class="text-sm font-semibold"><%= (trip.end_date - trip.start_date).to_i %></span>
      <span class="text-xs text-gray-300">Jours</span>
    </div>
    <div class="flex flex-col items-center">
      <span class="text-sm font-semibold"><%= trip&.total_kilometers(current_user) || 0 %></span>
      <span class="text-xs text-gray-300">Kilomètres</span>
    </div>
    <div class="flex flex-col items-center">
      <span class="text-sm font-semibold"><%= trip.activities.count %></span>
      <span class="text-xs text-gray-300">Activités</span>
    </div>
  </div>
</div>
</div>
