<div  class="fixed inset-0 items-center justify-center z-50 h-screen w-screen">
  <%= image_tag 'rome.jpg', class: "absolute inset-0 h-full w-full object-cover" %>
  <div class="absolute inset-0 bg-gradient-to-t from-black/70 via-black/40 to-transparent"></div>

  <div class="flex flex-col justify-center items-center z-10 h-screen w-screen">
    <div class="relative text-white px-12">
      <div class="flex items-center mb-4 space-x-2">
        <span class="text-xs font-medium uppercase tracking-wide bg-orange-500 text-white px-3 py-1 rounded-full">
          Votre destination
        </span>
      </div>

      <h1 class="text-5xl font-bold font-playfair"><%= trip.name %></h1>

      <div class="flex items-center space-x-2 text-sm text-gray-300">
        <span class="icon">explore</span>
        <span><%= trip.destination.address %></span>
      </div>

      <!-- Exploration stats -->
      <div class="flex flex-col mt-12 text-gray-200 leading-relaxed gap-3">
        <div class="text-sm">
          <span class="flex items-center gap-3"><span class="icon icon-20">paid</span><strong>Devise</strong></span>
          <div class="ml-8 text-sm"><%= trip.destination.currency %></div>
        </div>
        <div class="text-sm">
          <span class="flex items-center gap-3"><span class="icon icon-20">badge</span><strong>Documents nécessaires</strong></span>
          <div class="ml-8 text-sm"><%= trip.destination.papers %></div>
        </div>
        <div class="text-sm">
          <span class="flex items-center gap-3"><span class="icon icon-20">lunch_dining</span><strong>Spécialités culinaires</strong></span>
          <div class="ml-8 text-sm"><%= trip.destination.food %></div>
        </div>
        <div class="text-sm">
          <span class="flex items-center gap-3"><span class="icon icon-20">power</span><strong>Type de prise électrique</strong></span>
          <div class="ml-8 text-sm"><%= trip.destination.power %></div>
        </div>
      </div>
    </div>

    <span class="loading loading-ring loading-lg text-white animate-spin mt-5"></span>
  </div>

  <div data-controller="loading" data-loading-search-id="<%= search.id %>"></div>
</div>
