<dialog id="stats_modal" class="modal">
  <div class="modal-box bg-zinc-900">
    <h3 class="text-2xl font-bold text-center text-white">Statistiques de voyage</h3>

    <div class="flex justify-between items-center my-5 gap-2 box-border">
      <p class="border border-orange-500 rounded-lg text-center p-4 text-sm leading-4
      text-white"><%=@stats[:total_travels]%> voyages effectués</p>
      <p class="border border-orange-500 rounded-lg text-center p-4 text-sm leading-4
      text-white"><%=@stats[:ratio]%>% du monde visité</p>
      <p class="border border-orange-500 rounded-lg text-center p-4 text-sm leading-4
      text-white"><%=@total_km%> km parcourus</p>
      <p class="border border-orange-500 rounded-lg text-center p-4 text-sm leading-4
      text-white"><%=@travels_times%> jours voyagés</p>
    </div>


    <div id="static-map" data-controller="static-map"
      data-static-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
      data-static-map-iso-codes-value= "<%= @destinations %>"
      data-static-map-target="static-map"
      class="w-full h-64 rounded-b-lg">
    </div>
    <div>
      <% if @time_not_traveled.nil?  %>
        <%= "Vivement votre prochain voyage avec nous !" %>
      <% else %>
        <%= render "countup", start: @time_not_traveled %>
      <% end %>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
