<%= link_to trips_path do %>
  <button class="fixed z-10  p-safe-or-4" >
    <p class="icon icon-100 drop-shadow-xl text-4xl text-white">arrow_back</p>
  </button>
<% end %>

<div id="screen-container" class="relative h-screen overflow-hidden flex flex-col" data-controller="add-trip-animation">
  <div data-controller="stepper">

    <div id="pulse-button" data-add-trip-animation-target="pulseButton" class="absolute transition-opacity duration-1000 animate-pulse-slow flex justify-center items-center bottom-10 w-full">
      <div class="w-16 h-16 halo animate-gradient mesh-gradient-orange rounded-full"></div>
    </div>

    <div id="title-part" data-add-trip-animation-target="titlePart" class="relative min-h-16 flex items-start w-full pr-10 mt-title">
      <p id="robot-icon" data-add-trip-animation-target="robotIcon" class="icon icon-300 text-white text-xl text-right pl-4 transition-opacity duration-1000">robot_2</p>
      <p id="typewriter-text" data-add-trip-animation-target="text" class="px-5 text-white text-lg font-semibold"></p>
    </div>

    <%= simple_form_for @search, url: searches_path, data: { turbo_frame: "loading-frame" } do |f| %>
      <div id="form-part" class="form relative opacity-0 transition-opacity inset-0 flex flex-col flex-grow" data-add-trip-animation-target="formPart">
        <%= render 'tabs_form' %>

        <div id="stepper-container" class="stepper relative">
          <div class="absolute step transition-transform transform translate-x-0 w-screen overflow-x-hidden" data-stepper-target="step">
            <%= render 'form_destination', f: f %>
          </div>

          <div class="absolute step transition-transform transform translate-x-full w-screen overflow-x-hidden" data-stepper-target="step">
            <%= render 'form_dates', f: f %>
          </div>

          <div class="absolute step transition-transform transform translate-x-full w-screen overflow-x-hidden" data-stepper-target="step">
            <%= render 'form_partners', f: f %>
          </div>

          <div class="absolute step transition-transform transform translate-x-full w-screen overflow-x-hidden" data-stepper-target="step">
            <%= render 'form_options', f: f %>
          </div>
        </div>

      </div>

      <div class="w-full flex justify-center mt-6 gap-2 absolute bottom-10 opacity-0 transition-opacity duration-500 px-6"
        data-add-trip-animation-target="buttons">
        <button type="button"
                class="prev-step py-2 px-6 rounded-md text-sm text-white border active:border-orange-600 h-12 flex flex-grow items-center justify-center"
                data-stepper-target="prevButton"
                data-action="click->stepper#previousStep">Précédent</button>
        <button type="button"
                class="next-step py-2 px-6 rounded-md text-sm text-white bg-orange-600 active:bg-orange-700 h-12 flex flex-grow items-center justify-center"
                data-action="click->stepper#nextStep"
                data-stepper-target="nextButton">Suivant</button>
        <%= f.submit "Générer le programme", class:"hidden py-2 px-6 rounded-md text-sm text-white bg-orange-600 active:bg-orange-700 h-12 flex flex-grow items-center justify-center cursor-pointer", data: { "stepper-target" => "submitButton" } %>
      </div>
    <% end %>
  </div>
</div>
