<div id="screen-container" class="relative h-screen overflow-hidden flex flex-col" data-controller="add-trip-animation">
  <div data-controller="stepper">
    <button class="absolute p-4 shadow z-10" data-action="click->stepper#goBack" data-url="<%= trips_path %>" >
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
      </svg>
    </button>

    <div id="pulse-button" data-add-trip-animation-target="pulseButton" class="absolute transition-opacity duration-1000 animate-pulse-slow flex justify-center items-center bottom-10 w-full">
      <div class="w-16 h-16 halo animate-gradient mesh-gradient-orange rounded-full"></div>
    </div>

    <div id="title-part" data-add-trip-animation-target="titlePart" class="relative min-h-16 flex items-start w-full">
      <p id="robot-icon" data-add-trip-animation-target="robotIcon" class="text-xl px-2 transition-opacity duration-1000">🤖</p>
      <p id="typewriter-text" data-add-trip-animation-target="text" class="px-3 text-white text-xl font-semibold"></p>
    </div>

    <%= simple_form_for @search, url: searches_path, data: { turbo_frame: "loading-frame" } do |f| %>
      <div id="form-part" class="form relative opacity-0 transition-opacity inset-0 flex flex-col flex-grow" data-add-trip-animation-target="formPart">
        <%= render 'tabs_form' %>

        <div id="stepper-container" class="stepper relative">
          <div class="absolute step transition-transform transform translate-x-0 w-screen overflow-x-hidden" data-stepper-target="step">
            <%= render 'form_destination', f: f %>
          </div>

          <div class="absolute step transition-transform transform translate-x-full w-screen overflow-x-hidden" data-stepper-target="step">
            <%= render 'form_dates', f: f %>
          </div>

          <div class="absolute step transition-transform transform translate-x-full w-screen overflow-x-hidden" data-stepper-target="step">
            <%= render 'form_partners', f: f %>
          </div>

          <div class="absolute step transition-transform transform translate-x-full w-screen overflow-x-hidden" data-stepper-target="step">
            <%= render 'form_options', f: f %>
          </div>
        </div>

      </div>

      <div class="w-full flex justify-center mt-6 gap-5 absolute bottom-10 opacity-0 transition-opacity duration-500"
        data-add-trip-animation-target="buttons">
        <button type="button"
                class="prev-step bg-opacity-50 text-sm font-medium text-white border px-4 py-2 active:bg-white"
                data-stepper-target="prevButton"
                data-action="click->stepper#previousStep">Précédent</button>
        <button type="button"
                class="next-step bg-opacity-50 text-sm font-medium text-white border px-4 py-2 active:bg-white"
                data-action="click->stepper#nextStep"
                data-stepper-target="nextButton">Suivant</button>
        <%= f.submit "Générer le programme", class:"hidden bg-opacity-50 text-sm font-medium text-white border px-4 py-2 active:bg-white cursor-pointer", data: { "stepper-target" => "submitButton" } %>
      </div>
    <% end %>
  </div>
</div>
