<div data-controller="toggle" class="relative h-screen ">
  <!-- Toggle en bas de la page -->
  <%= render "toggle_nav" %>
  <!-- Vue actuelle avec la carte et le carrousel -->
  <div class="map absolute top-0 left-0 right-0 bottom-0 z-0 block h-full" data-toggle-target="mapView">
  <!-- Bouton retour -->
    <button class="absolute top-4 left-4 btn  bg-white text-gray-900 w-12 h-12 flex items-center justify-center z-10">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
      </svg>
    </button>

  <div id="map" class="w-full h-full"
    data-controller="map"
    data-map-api-key-value='<%= ENV["MAPBOX_API_KEY"] %>'
    data-map-markers-value='<%= raw @markers.to_json %>'>
  </div>

<div class="absolute bottom-16 left-0 right-0 z-10 overflow-y-auto">
  <div data-controller="carrousel">
    <div class="carousel carousel-center rounded-box space-x-4 p-4">
      <% @activities.each_with_index do |activity, index| %>
        <%= render "carrousel_item", activity: activity, index: index %>
      <% end %>
    </div>
  </div>
</div>
</div>
  <!-- Vue agenda -->

  <div data-toggle-target="agendaView" class="hidden h-full flex ">
<div class="w-full bg-black text-white" data-controller="tabs">
  <!-- Calendrier -->
  <div class="flex-col items-center justify-between px-4 py-3 bg-gray-900">
    <!-- Bouton retour -->
   <button class="btn btn-outline border-gray-500 text-gray-400 mr-4 w-12 h-12 flex items-center justify-center">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
      </svg>
    </button>

    <!-- Jours dynamiques -->
    <div class="flex items-center overflow-x-scroll no-scrollbar space-x-2 mt-4" data-tabs-target="days">
      <% @calendar_dates.each_with_index do |date, index| %>
        <div class="flex flex-col items-center cursor-pointer text-gray-400 px-4 py-3 <%= 'text-black bg-white rounded-lg px-4 py-3' if index == 0 %>"
            data-action="click->tabs#changeTab"
            data-tabs-day="<%= index %>"
            data-tabs-target="day">
          <span class="text-sm"><%= I18n.l(date, format: '%a')[0].upcase %></span>
          <span class="text-xs font-bold"><%= date.strftime('%d') %></span>
        </div>
      <% end %>
    </div>
  </div>

  <!-- Tabs pour les jours -->
  <div role="tablist" class="tabs tabs-bordered bg-black text-white py-4 overflow-x-scroll">
    <% @calendar_dates.each_with_index do |date, index| %>
      <a class="tab <%= index == 0 ? 'tab-active text-white border-white w-36' : 'text-gray-400 w-36' %>"
        data-action="click->tabs#changeTab"
        data-tabs-day="<%= index %>"
        data-tabs-target="tab"> Jour <%= index + 1 %></a>
    <% end %>
  </div>

  <!-- Timeline Section -->
  <% @day_activities.each_with_index do |(date, activities), index| %>
  <div class="p-4 hidden overflow-hidden" data-tabs-target="content" data-tabs-day="<%= index %>">
    <ul class="relative">
      <% if activities.any? %>
        <% activities.each do |trip_activity| %>
          <%= render partial: 'activity_card', locals: { trip_activity: trip_activity } %>
        <% end %>
      <% else %>
        <li class="text-gray-400 text-sm">Aucune activité prévue pour ce jour.</li>
      <% end %>
    </ul>
  </div>
<% end %>
</div>
</div>
