<div class="h-screen" data-controller="toggle" >
<div data-controller="datepicker">
  <!-- Bouton Toggle -->
  <%= link_to map_view_path(@trip),
    data: { turbo_frame: "modal-frame" },
    class: "fixed bottom-safe-offset-4 right-safe-offset-4 z-30 bg-orange-500 text-white p-3 rounded-full shadow-lg icon" do %>
    map
   <% end %>

  <div class="fixed bottom-safe-offset-20 right-4 z-40" data-controller="main-button">

  <!-- Option Buttons -->
  <div
    class="hidden flex flex-col-reverse items-center space-y-4 transition-all duration-300 opacity-0 translate-y-4 "
    data-main-button-target="options"
  >
    <button
      onclick="new_activity_modal.showModal()"
      class="bg-white text-orange-500 p-3 rounded-full my-4 shadow-lg icon"
    >
      edit
    </button>
    <button
      onclick="new_ai_suggestion_modal.showModal()"
      class="bg-white text-orange-500 p-3 rounded-full my-4 shadow-lg icon"
    >
      book_4_spark
    </button>
  </div>

  <!-- Main Button -->
  <button
    data-action="click->main-button#toggleOptions"
    data-main-button-target="mainButton"
    class="bg-orange-500 text-white p-3 rounded-full shadow-lg icon"
  >
    Add
  </button>
  </div>


  <%= render "activities/new_activity_modal"%>
  <%= render "activities/new_ai_suggestion_modal"%>

  <!-- Vue agenda -->
  <div data-toggle-target="agendaView">
    <div class="w-full text-white" data-controller="tabs">
      <%= link_to trips_path do %>
        <button class="fixed z-20 p-safe-or-4" >
          <p class="icon icon-200 drop-shadow-xl text-4xl text-white">arrow_back</p>
        </button>
      <% end %>

      <div class="sticky top-0 z-[15]">
        <!-- Calendrier -->
        <div class="flex justify-center items-center w-screen pb-4 bg-slate-900 pt-safe-or-4">
          <h1 class="font-bold text-2xl mt-1"><%= @trip.name %></h1>
        </div>

        <!-- Jours dynamiques -->
        <div class="flex-col items-center justify-between py-3 bg-gray-900">
          <div class="flex items-center overflow-x-scroll space-x-2" data-tabs-target="daysContainer" style="scrollbar-width: none;">
            <% @calendar_dates.each_with_index do |date, index| %>
              <div class="first:ml-4 last:mr-4 flex flex-col items-center cursor-pointer text-gray-400 px-4 py-3 <%= 'text-black bg-white rounded-lg' if index == 0 %>"
                  data-action="click->tabs#changeTab"
                  data-tabs-day="<%= index %>"
                  data-tabs-target="day">
                <span class="text-sm"><%= I18n.l(date, format: '%a')[0].upcase %></span>
                <span class="text-xs font-bold"><%= date.strftime('%d') %></span>
              </div>
            <% end %>
          </div>
        </div>

        <!-- Tabs pour les jours -->
        <div role="tablist" data-tabs-target="tabsContainer" class="bg-gray-800 tabs tabs-bordered text-white pt-2 overflow-x-scroll" style="scrollbar-width: none;">
          <% @calendar_dates.each_with_index do |date, index| %>
            <a class="tab w-36 pb-4 <%= index == 0 ? 'tab-active text-white !border-white' : 'text-gray-400 !border-gray-600' %>"
              data-action="click->tabs#changeTab"
              data-tabs-day="<%= index %>"
              data-tabs-target="tab"> Jour <%= index + 1 %></a>
          <% end %>
          <div class="absolute bottom-0 left-0 h-1 bg-orange-500 transition-transform duration-300 ease-in-out" data-tabs-target="highlight"></div>
        </div>
      </div>

      <!-- Timeline Section -->
      <div data-controller="turbo-frame-reloader">
        <%= render 'timeline_activities', day_activities: @day_activities %>
      </div>
    </div>
  </div>

</div>
</div>
