<div class="bg-gray-800 text-white h-full flex flex-col">
  <div class="p-6">
    <div class="flex items-center space-x-3">
      <!-- Avatar -->
      <% if current_user&.photo %>
        <%= cl_image_tag current_user.photo.key, alt: "Avatar", class: "w-10 h-10 rounded-full border border-gray-700" %>
      <% end %>
      <div>
        <p class="text-sm font-medium"><%= current_user&.username || "Guest" %></p>
      </div>
    </div>
    <div class="mt-4">
      <h1 class="text-3xl font-bold font-playfair leading-4"><%= current_user&.city || "" %></h1>
      <p class="text-sm mt-0"><%= current_user&.country || "" %></p>
      <p class="text-sm flex items-center space-x-2 mt-2">
        <% if current_user%>
          <% if current_user.currently_traveling? %>
            <span class="w-2 h-2 rounded-full bg-green-500"></span><span>Voyage actuellement</span>
          <% else %>
            <span class="w-2 h-2 rounded-full bg-red-600"></span><span>Pas en voyage</span>
          <% end %>
        <% end %>
      </p>
    </div>
  </div>

  <!-- Statistiques -->
  <div class="flex gap-4 bg-gradient-to-r from-orange-500 to-orange-700 text-center p-6">
    <div class="flex-1">
      <p class="text-2xl font-bold"><%= current_user&.total_kilometers || "0" %></p>
      <p class="text-xs uppercase tracking-wide">kms</p>
    </div>
    <div class="flex-1">
      <p class="text-2xl font-bold"><%= current_user&.total_days || "0" %></p>
      <p class="text-xs uppercase tracking-wide">jours</p>
    </div>
    <div class="flex-1">
      <p class="text-2xl font-bold"><%= current_user&.total_countries || "0" %></p>
      <p class="text-xs uppercase tracking-wide">pays</p>
    </div>
  </div>

  <div class="bg-white text-gray-800 flex-1">
    <ul class="divide-y divide-gray-200">
      <li class="flex items-center justify-between px-6 py-4">
        <div class="flex items-center space-x-4">
          <span class="icon">add_circle</span>
          <%= link_to "Créer un voyage", new_trip_path %>
        </div>
      </li>
      <li class="flex items-center justify-between px-6 py-4">
        <div class="flex items-center space-x-4">
          <span class="icon">draw</span>
          <%= link_to "Modifier mon profil", edit_profile_path(current_user) %>
        </div>
      </li>
      <li class="flex items-center justify-between px-6 py-4">
        <div class="flex items-center space-x-4">
          <span class="icon">edit</span>
          <%= link_to "Modifier mon mots de passe", edit_user_registration_path(current_user) %>
        </div>
      </li>
      <li class="flex items-center justify-between px-6 py-4">
        <div class="flex items-center space-x-4">
          <span class="icon">logout</span>
          <%= link_to "Se déconnecter", destroy_user_session_path, data: {turbo_method: :delete} %>
        </div>
      </li>
    </ul>
  </div>
</div>
