<div class="container-login max-w-md mx-10 mt-10 p-6 bg-white shadow-md rounded-lg">
  <h2 class="text-2xl font-bold text-center text-gray-700 mb-6">Log in</h2>
  <div class="form-login">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs space-y-4">
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password" } %>
      <div class= "h-5 w-5 border-gray-300 rounded-sm focus:ring-indigo-500">
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>
    </div>

    <div class="form-actions mt-11 flex justify-center">
      <%= f.button :submit, "Log in", class: "bg-blue-500 text-white text-sm font-medium py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2" %>
    </div>
    <% end %>
  </div>
  <div class="mt-4 text-center">
    <%= render "devise/shared/links" %>
  </div>
</div>
