<h1 class="text-2xl font-bold text-white mb-6">Show Destination</h1>

<div class="space-y-4">
  <p class="text-lg text-gray-300">
    <span class="font-medium text-lime-400">ID:</span> <%= @destination.id %>
  </p>
  <p class="text-lg text-gray-300">
    <span class="font-medium text-lime-400">Address:</span> <%= @destination.address %>
  </p>
  <p class="text-lg text-gray-300">
    <span class="font-medium text-lime-400">Latitude:</span> <%= @destination.latitude %>
  </p>
  <p class="text-lg text-gray-300">
    <span class="font-medium text-lime-400">Longitude:</span> <%= @destination.longitude %>
  </p>
  <p class="text-lg text-gray-300">
    <span class="font-medium text-lime-400">Currency:</span> <%= @destination.currency %>
  </p>
  <p class="text-lg text-gray-300">
    <span class="font-medium text-lime-400">Papers:</span> <%= @destination.papers %>
  </p>
  <p class="text-lg text-gray-300">
    <span class="font-medium text-lime-400">Food:</span> <%= @destination.food %>
  </p>
  <p class="text-lg text-gray-300">
    <span class="font-medium text-lime-400">Power:</span> <%= @destination.power %>
  </p>
</div>
