<div class="relative h-screen flex flex-col" data-controller="gallery" data-controller="tabs">
  <!-- Section image avec retour -->
  <div class="relative w-full h-1/2 bg-gray-200">
    <!-- Image principale -->

    <div class="relative w-full h-full">
      <% if @activity.photos.first.present? %>
        <%= cl_image_tag @activity.photos.first.key, class: "w-full h-full object-cover", data: { gallery_target: "mainImage" } %>
      <% else %>
        <%= image_tag 'no_picture.jpg', class: "w-full h-full object-cover", alt: "No picture available", data: { gallery_target: "mainImage" } %>
      <% end %>
      <div class="absolute inset-0 bg-gradient-to-t from-black/80 via-black/50 to-transparent"></div>
      <button onclick="add_picture_modal.showModal()" class="btn absolute bottom-14 z-50 right-5" >Add photos</button>
    </div>

    <% console %>
    <%= render "add_picture_modal" %>

    <!-- Bouton de retour -->
    <button
      class="absolute top-4 left-4 btn bg-white text-gray-900 w-12 h-12 flex items-center justify-center z-10"
      onclick="history.back()"
    >
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
      </svg>
    </button>

    <!-- Miniatures -->
    <div class="absolute bottom-16 left-0 right-0 mx-4 flex justify-between space-x-2 h-[7.5rem] overflow-x-scroll scrollbar-hide carousel">
    <% if @activity.photos.first.present? %>
      <% @activity.photos.each_with_index do |photo, index| %>
        <div
          class="w-30 h-full bg-gray-800 rounded-lg flex items-center justify-center cursor-pointer shrink-0 carousel-item"
          data-action="click->gallery#showImage"
          data-gallery-index="<%= index %>"
          data-gallery-target="thumbnail"
        >
          <%= cl_image_tag photo.key, class: "w-full h-full object-cover rounded-lg", data: { image_url: cl_image_path(photo.key) } %>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>

  <!-- Modal -->
  <div
    class="fixed inset-0 bg-black bg-opacity-80 flex items-center justify-center hidden z-50"
    data-gallery-target="modal"
  >
    <div class="relative w-full max-w-2xl">
      <!-- Image dans la modal -->
      <img
        src=""
        alt="Gallery Image"
        class="w-full h-auto"
        data-gallery-target="modalImage"
      />

      <!-- Navigation -->
      <button
        class="absolute top-1/2 left-4 transform -translate-y-1/2 text-white text-2xl"
        data-action="click->gallery#prevImage"
      >
        &#10094;
      </button>
      <button
        class="absolute top-1/2 right-4 transform -translate-y-1/2 text-white text-2xl"
        data-action="click->gallery#nextImage"
      >
        &#10095;
      </button>
    </div>

    <!-- Bouton de fermeture -->
    <button
      class="absolute top-4 right-4 text-white text-2xl font-bold"
      data-action="click->gallery#closeModal"
    >
      &times;
    </button>
  </div>

  <!-- Section détails -->
  <div class="flex flex-col flex-1 bg-white rounded-t-2xl shadow-lg -mt-10 z-10">
    <!-- Titre et adresse -->
    <div class="px-6 pt-6">
      <h1 class="text-2xl font-bold text-gray-800"><%= @activity.name %></h1>
      <p class="text-sm text-gray-500 flex items-center mt-1">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-4 w-4 mr-1 text-gray-500"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            d="M12 2C8.134 2 5 5.134 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.866-3.134-7-7-7zm0 9.5c-1.381 0-2.5-1.119-2.5-2.5s1.119-2.5 2.5-2.5 2.5 1.119 2.5 2.5-1.119 2.5-2.5 2.5z"
          />
        </svg>
        <%= @activity.address %>
      </p>
    </div>

    <!-- Notes -->
    <div class="px-6 mt-4 flex items-center space-x-2">
      <!-- Etoiles -->
      <div class="flex text-yellow-400">
        <% @activity.global_rating.to_i.times do %>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              d="M12 .587l3.668 7.429L24 9.753l-6 5.837 1.417 8.26L12 18.897l-7.417 4.953L6 15.59l-6-5.837 8.332-1.737z"
            />
          </svg>
        <% end %>
        <!-- Demi-étoile -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            d="M12 .587l3.668 7.429L24 9.753l-6 5.837 1.417 8.26L12 18.897l-7.417 4.953L6 15.59l-6-5.837 8.332-1.737z"
            clip-rule="evenodd"
            fill-rule="evenodd"
            opacity="0.5"
          />
        </svg>
      </div>
      <!-- Note -->
      <p class="text-sm text-gray-500">(143 avis)</p>
    </div>

    <!-- Navigation tabs -->
    <div class="mt-6">
      <!-- Navigation des onglets -->
      <div role="tablist" class="tabs tabs-bordered px-6">
        <a class="tab tab-active" data-action="click->tabs#switchTab" data-tabs-target="tabActivity" data-tab-name="description">Description</a>
        <a class="tab" data-action="click->tabs#switchTab" data-tabs-target="tabActivity" data-tab-name="horaires">Horaires</a>
        <a class="tab" data-action="click->tabs#switchTab" data-tabs-target="tabActivity" data-tab-name="wiki">Wiki</a>
        <a class="tab" data-action="click->tabs#switchTab" data-tabs-target="tabActivity" data-tab-name="video">Vidéo</a>
      </div>

      <!-- Contenu des onglets -->
      <div data-controller="edit-form" class="px-6 mt-6">
        <!-- Contenu de l'onglet Description -->

    <div data-tabs-target="content" data-tab-name="description" >
      <div data-edit-target="form">
        <h3 class="text-lg font-semibold text-gray-800 old-value">Description <p class="icon" data-action="click->edit-form#display">Edit</p></h3>
        <div class="hidden new-value">
          <%= simple_form_for(@activity, url: :activity, method: :patch) do |f| %>
            <%= f.input :description, label: false %>
            <%= f.submit class:"btn"%>
          <% end %>
        </div>
      </div>
      <div data-controller="read-more" data-read-more-more-text-value="Voir plus" data-read-more-less-text-value="Voir moins">
        <p class="my-content mt-2 text-sm text-gray-600" data-read-more-target="content">
          <%= @activity.description%>
        </p>
        <button class="text-gray-500 text-sm font-bold" data-action="read-more#toggle">Voir plus</button>
      </div>
    </div>

        <!-- Contenu de l'onglet Horaires -->
        <div data-tabs-target="content" data-tab-name="horaires" class="hidden">
          <h3 class="text-lg font-semibold text-gray-800">Horaires</h3>
          <p class="text-sm text-gray-600 mt-2">Lun 8:00-12:00/14:00-18:00</p>
          <p class="text-sm text-gray-600 mt-2">Mar 8:00-12:00/14:00-18:00</p>
          <p class="text-sm text-gray-600 mt-2">Mer 8:00-12:00/14:00-18:00</p>
          <p class="text-sm text-gray-600 mt-2">Jeu 8:00-12:00/14:00-18:00</p>
          <p class="text-sm text-gray-600 mt-2">Ven 8:00-12:00/14:00-18:00</p>
          <p class="text-sm text-gray-600 mt-2">Sam -</p>
          <p class="text-sm text-gray-600 mt-2">Dim -</p>
        </div>

        <!-- Contenu de l'onglet Wiki -->
        <div data-tabs-target="content" data-tab-name="wiki" class="hidden">
          <h3 class="text-lg font-semibold text-gray-800">Wiki</h3>
          <p class="text-sm text-gray-600 mt-2">
            wiki
          </p>
        </div>

        <!-- Contenu de l'onglet Vidéo -->
        <div data-tabs-target="content" data-tab-name="video" class="hidden">
          <h3 class="text-lg font-semibold text-gray-800">Vidéo</h3>
          <p class="text-sm text-gray-600 mt-2">
            <em>Aucune vidéo disponible.</em>
          </p>
        </div>

      <button class=" w-full mt-8 bg-black text-white py-3 rounded-lg shadow-md">
        Itinéraire
      </button>

    </div>
  </div>
</div>
